@import "~bootstrap/scss/bootstrap";
@import "./config.scss";

@font-face {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/BiennaleRegular.otf") format("opentype");
}

html {
  height: $mainHeight;
  font-family: $mainFont;
}

body {
  height: $mainHeight;
}

#__next {
  height: $mainHeight;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}


.colorPrimary{
  color: $colorPrimary;
}

.bold{
  font-weight: 600;
}


@import "./login.scss";
