
$colorPrimary: #ed1164;
$colorSecondary: #91A3AD;
$lightGreyColor:#FFEBF2;
$mediumGreyColor:#91A3AD;
$darkGreyColor: #575757;
$errorColor: #ed1c1c;
$mainHeight: 100%;
$mainFont: "Biennale Regular";

$mediaDesktop: 1240px;