.container-login {
  @media screen and (min-width: $mediaDesktop) {
    display: flex;
    flex-direction: row;
  }

  

  .logo {
    display: block;
    margin: auto;
    width: 178.35px;
    margin-bottom: 47px;

    @media screen and (min-width: $mediaDesktop) {
      width: 520px;
      margin: auto;
    }
  }

  form {

    p{
      font-weight: bold;
      color: $errorColor;
      font-size: 14px;
      line-height: 16px;

    }

    padding: 0 15px 0 15px;

    @media screen and (min-width: $mediaDesktop) {
      padding: 50px;
      margin-left: 30px;
      border: 1px solid $colorPrimary;
      border-radius: 32px;
    }
  }

  .input {
    display: flex;
    flex-direction: row;
    padding: 10px;

    .password-icon {
      right: 15px;
      position: relative;
    }

    img {
      width: 16px;
      margin-right: 18px;
    }

    input {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      border-width: 0px 0px 1px 0px;
      padding-bottom: 8px;
      border-bottom-color: $mediumGreyColor;
      color: $darkGreyColor;
      outline: none;

      &:focus {
        color: $colorPrimary;
        border-bottom-color: $colorPrimary;
      }

      &::placeholder{
        color: $mediumGreyColor;
        opacity: 1;
      }

      &::-ms-input-placeholder{
        color: $mediumGreyColor;
      }

      &:-ms-input-placeholder{
        color: $mediumGreyColor;
      }
    }

    
  }

  button {
    width: 100%;
    height: 56px;
    background: $colorPrimary;
    border-radius: 12px;
    border: none;
    color: $lightGreyColor;
    font-size: 16px;
    margin-top: 12px;
  }
}



@import "./config.scss";