
.container-login {
  @media screen and (min-width: 992px) {
    display: flex;
    flex-direction: row;
  }

  .logo {
    display: block;
    margin: auto;
    width: 178.35px;
    margin-bottom: 47px;

    @media screen and (min-width: 992px) {
      width: 50%;
      margin: 0 !important;
    }
  }

  form {
    @media screen and (min-width: 992px) {
      padding: 14%;
      margin-left: 30px;
      border: 1px solid $color-primary;
      border-radius: 32px;
    }
  }

  .input {
    display: flex;
    flex-direction: row;
    padding: 10px;

    .password-icon {
      left: 70.5%;
      position: absolute;

      @media screen and (min-width: 992px) {
        left: 74%;
        margin-top: 2px;
      }
    }

    img {
      width: 16px;
      margin-right: 18px;
    }

    input {
      color: $color-primary;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      border-width: 0px 0px 1px 0px;
      padding-bottom: 8px;
      border-color: $color-primary;
    }
  }

  button {
    width: 100%;
    height: 56px;
    background: $color-primary;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 12px;
  }
}
