$color-primary: #ed1164;

.container-login {
  @media screen and (min-width: 992px) {
    display: flex;
    flex-direction: row;
  }

  .logo {
    width: 178.35px;
    display: block;
    margin: auto;
    margin-bottom: 47px;
  }

  form {
    @media screen and (min-width: 992px) {
      padding-left: 14%;

      border: 1px solid #ed1164;
      border-radius: 32px;
    }
  }

  .input {
    display: flex;
    flex-direction: row;
    padding: 10px;

    img {
      width: 16px;
      margin-right: 18px;
    }
    input {
      color: $color-primary;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      border-width: 0px 0px 1px 0px;
      padding-bottom: 8px;
      border-color: $color-primary;
    }
  }

  button {
    width: 100%;
    height: 56px;
    background: $color-primary;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 12px;
  }
}
