
.container-tasks{
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ED1164;
  img{
    width: 100%;    
    position: relative;
    margin-top: 50%;
  }
  
}